# Flux HelmRepository for Prometheus Community charts
# Provides kube-prometheus-stack chart for Prometheus Operator CRDs
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: prometheus-community
  namespace: flux-system
spec:
  interval: 1h
  url: https://prometheus-community.github.io/helm-charts
