---
import { isAuthenticated } from "@/lib/workos";

const { cookies, locals } = Astro;

const authenticated = await isAuthenticated(cookies);

const { user } = locals;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{Astro.site}</title>
	</head>
	<body>
		<div>{JSON.stringify(user)}</div>
		{
			authenticated ? (
				<a href="/api/auth/logout">Logout</a>
			) : (
				<a href="/api/auth/login">Login</a>
			)
		}
	</body>
</html>
